*.res
Debug_*
Release_*
qtc/Debug
qtc/Release
GeneratedFiles
*.opendb
*.sdf
*.user
*.opensdf
*.suo
.vs
ipch
*.dsk
*.ncb
OutC*
*.local
*.db
/qtc/ccLib/user_config.pri
*.ddp
Dbg_100.props
Qt_591.props
Rel_100.props
vs2017.props
